.imgDog {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}
.Title{
    margin-top: 5px;
    margin-bottom: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1px;
    font-size: 16px;
    font-weight: 600;
     color: rgb(255, 254, 254);
     
}
.CardDog {
    border: solid 2px rgb(237, 235, 235);
    align-items: center;
    height: 500px;
    padding: 0px;
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    background-color: #308b128f;
}
.CardDog:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0rem 0.1875rem 0.375rem rgb(68, 63, 53);
}
.weightText{
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    -webkit-text-fill-color: rgb(255, 255, 255);
        -webkit-text-stroke: 0.5px rgb(255, 244, 244);
}
.styledTemp{
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 3px;
    font-size: smaller;
    margin-left: 4px;
    color: rgb(106, 100, 100);
    border-radius: 15px;
    background-color: rgba(255, 236, 236, 0.8);
    padding: 10px;
}
.labelt{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 254, 254);
    font-size: 12px;
}
.Linkt{
    text-decoration: none;
}
.deleteCard{
    color: rgb(248, 248, 248);
    float: left;
    margin: 5px;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: rgb(255, 7, 7);
}