.selectFilter{
        font-family: 'Sofia Pro Regular', Arial, serif !important;
        font-size: 24px !important;
        line-height: 1.3 !important;
        color: #fefefe !important;
        border-radius: 20px;
        background-color: #4af710 !important;
        text-transform: capitalize !important;
        margin: 10px;
}
.ReloadBtn{
        color: rgb(255, 255, 255);
        background-color: rgba(239, 208, 6, 0.721);
        font-size: 17px;
        height: 80px;
        width: 100px;
        text-align: center;
        padding: 10px 25px;
        margin: 15px;
        font-weight: 500;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        border-radius: 3px;
        box-shadow: 3px 3px 5px 1px rgb(112, 44, 44);
        cursor: pointer;
}